body{
    background-color: #F7B386;
    font-size: 17px;
    font-family: Arial, sans-serif;
}
#banner{
    width: 100%;
}
#jeden{
    display: flex;
    justify-content: center;
    align-items: center;
}
#dwa{
display: flex;
justify-content: space-around;
}
h2{
    text-align: center;
}
article img{
 float: left;
 margin-right: 15px;
}
footer{
    background-color: #FCD07B;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
    padding: 5px;
}